@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans&display=swap");
html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  font-family: "DM Serif Display", serif;
  font-family: "Public Sans", sans-serif;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  background: #EDF3F8;
  background-repeat: no-repeat;
  background-size: 780px;
  background-position: right top;
  background-image: url(../../img/header-bacroung-image.svg);
}

.header__content {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  max-width: 135px;
  margin-left: 165px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.header__item-link {
  max-width: 57px;
  font-family: "Public Sans";
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #36536B;
  opacity: 0.7;
}

.header__link {
  max-width: 173px;
  padding: 15px 25px;
  background: #BA4270;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  font-family: "Public Sans";
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FBFCFE;
}

.header__menu {
  max-width: 28px;
  height: 17px;
  display: none;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media only screen and (max-width: 900px) {
  header {
    background: #EDF3F8;
    background-repeat: no-repeat;
    background-size: 780px;
    background-position: top;
    background-image: none;
    background-image: url(../../img/header-img2.svg);
  }
  .header__logo {
    max-width: 135px;
    margin-left: 39px;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
  }
  .header__item-link {
    max-width: 57px;
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #36536B;
    opacity: 0.7;
  }
}
@media only screen and (max-width: 700px) {
  .header__navbnar {
    display: none;
  }
  .header__menu {
    max-width: 28px;
    height: 17px;
    display: block;
  }
  .header__link {
    display: none;
  }
}
#hero {
  padding-bottom: 75px;
}

.hero__content {
  padding-top: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero__l-tittle {
  max-width: 546px;
  margin-left: 165px;
  margin-bottom: 21px;
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 72px;
  line-height: 72px;
  color: #36536B;
}

.hero__link2 {
  max-width: 225px;
  margin-left: 165px;
  display: block;
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #6C8294;
}

.hero__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 165px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 445px;
  height: 46px;
  background: #FBFCFE;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
  margin-bottom: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input {
  border: none;
  padding-left: 27px;
  background: #FBFCFE;
  border-radius: 24px;
}

.hero__n-box {
  display: none;
}

.site-header__btn {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FBFCFE;
  padding: 14px 25px;
  background-color: #BA4270;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border-radius: 24px;
}

.hero__r-box2 {
  display: none;
}

@media only screen and (max-width: 1170px) {
  .hero__content {
    padding-top: 74px;
    display: block;
    position: relative;
  }
  .hero__r-box2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 160px;
    height: 300px;
    margin-bottom: 48px;
  }
  .hero__r-box {
    display: none;
  }
  .hero__l-tittle {
    max-width: 546px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 21px;
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #36536B;
  }
  .hero__l-box {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .hero__input {
    margin-left: auto;
    margin-right: auto;
  }
  .hero__link2 {
    max-width: 225px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 555px) {
  .hero__r-box2 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    display: block;
    max-width: 127px;
    height: 239px;
    margin-bottom: 24px;
  }
  .hero__l-tittle {
    max-width: 307px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    line-height: 36px;
    color: #36536B;
  }
  .hero__input {
    display: none;
  }
  .hero__n-box {
    display: block;
  }
  .hero__input2 {
    max-width: 307px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border: none;
    font-family: "Public Sans";
    background: #FBFCFE;
    -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
            box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 24px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #36536B;
    margin-bottom: 16px;
    padding: 16px 158px 14px 27px;
  }
  .hero__link3 {
    display: block;
    max-width: 307px;
    padding: 16px 46px 14px 50px;
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FBFCFE;
    background: #BA4270;
    border-radius: 24px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 24px;
  }
  .hero__link2 {
    max-width: 225px;
    padding-bottom: 79px;
    margin-left: auto;
    margin-right: auto;
  }
}
#about {
  margin-bottom: 150px;
  background-color: #1B262F;
}

.about__content {
  padding-top: 100px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__tittle {
  max-width: 445px;
  margin-left: 165px;
  margin-bottom: 24px;
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #FBFCFE;
}

.about__text {
  max-width: 445px;
  margin-left: 165px;
  margin-bottom: 32px;
  font-family: "Public Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #FBFCFE;
}

.about__link {
  padding: 16px 32px 14px 32px;
  margin-left: 165px;
  max-width: 129px;
  border: 1px solid #FBFCFE;
  border-radius: 24px;
  font-family: "Public Sans";
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FBFCFE;
}

.about__img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  margin-bottom: 40px;
}

.about__img {
  max-width: 145px;
  height: 35px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.about__box8 {
  display: none;
  gap: 50px;
}

.about__box5 {
  display: none;
}

@media only screen and (max-width: 1346px) {
  .about__box5 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 64px;
  }
  .about__img {
    margin-right: auto;
    margin-left: auto;
    max-width: 145px;
    height: 35px;
  }
  .about__box2 {
    display: none;
  }
  .about__content {
    padding: 100px 163px 100px 165px;
    display: block;
  }
  .about__tittle {
    max-width: 445px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
  .about__text {
    max-width: 445px;
    margin-right: auto;
    text-align: center;
    margin-bottom: 32px;
    margin-left: auto;
  }
  .about__link {
    display: block;
    max-width: 130px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (max-width: 920px) {
  .about__tittle {
    max-width: 300px;
    margin-bottom: 16px;
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #FBFCFE;
  }
  .about__text {
    max-width: 300px;
    margin-bottom: 60px;
    font-family: "Public Sans";
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #FBFCFE;
    text-align: center;
  }
  .about__link {
    padding: 16px 32px 14px 32px;
    max-width: 130px;
    border: 1px solid #FBFCFE;
    border-radius: 24px;
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FBFCFE;
  }
  .about__box5 {
    display: none;
  }
  .about__box8 {
    display: block;
  }
  .about__img {
    max-width: 120px;
  }
}
@media only screen and (max-width: 574px) {
  .about__img {
    margin-bottom: 40px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: auto;
  }
  .about__img-box {
    display: block;
    gap: 60px;
    margin-bottom: 40px;
  }
  .about__content {
    padding-top: 100px;
    padding-bottom: 100px;
    display: block;
  }
  .about__tittle {
    max-width: 240px;
    margin-bottom: 16px;
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #FBFCFE;
  }
  .about__text {
    max-width: 200px;
    margin-bottom: 60px;
    font-family: "Public Sans";
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #FBFCFE;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */