#about{
    background-color: #1B262F;
}
.about__content{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__tittle{
    max-width: 445px;
    margin-left: 165px;
    margin-bottom: 24px;
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #FBFCFE;  
}
.about__text{
    max-width: 445px;
    margin-left: 165px;
    margin-bottom: 32px;
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #FBFCFE; 
}
.about__link{
    padding: 16px 32px 14px 32px ;
    margin-left: 165px;
    max-width: 129px;
    border: 1px solid #FBFCFE;
    border-radius: 24px;
    font-family: 'Public Sans';
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FBFCFE;    
}
.about__box2{
    max-width: 536px;
    flex-wrap: wrap;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-evenly;
}
.about__img{
    max-width: 145px;
    height: 35px;
    flex-shrink: 0;
}
@media only screen and (max-width:1176px){
    .about__content{
        display: block;
    }
    .about__tittle{
        max-width: 457px;
        margin-left: auto;
        margin-right: auto;
    }
    .about__text{
        max-width: 457px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .about__link{
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 130px;
        margin-bottom: 64px;
    }
    .about__box2{
        max-width: 536px;
        margin-right: auto;
        margin-left: auto;
    }
    .about__img{
        max-width: 145px;
        height: 35px;
        flex-shrink: 0;
    }
}
@media only screen and (max-width:545px){
    .about__tittle{
        max-width: 307px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 36px; 
    }
    .about__text{
        max-width: 307px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 60px;
    }
    .about__box2{
        max-width: 280px;
        margin-right: auto;
        margin-left: auto;
        flex-wrap: wrap;
        display: block;
    }
    .about__img{
        max-width: 145px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 24px;
        height: 35px;
        flex-shrink: 0;
    }
    .about__link{
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 135px;
        margin-bottom: 64px;
    }
}